<!-- MAIN CONTENT-->
<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">

        <!-- Loop over the collection of products -->
        <div *ngFor="let currentProduct of products" class="col-md-3">
          <div class="product-box">
            <a routerLink="/products/{{ currentProduct.id }}">
              <img src="{{ currentProduct.imageUrl }}" class="img-responsive">
              <h1>{{ currentProduct.name }}</h1>
            </a>
            <h2>{{ currentProduct.description }}</h2>
            <div class="price">{{ currentProduct.unitPrice | currency: 'EUR' }}</div>
            <a href="#" class="primary-btn">Add to cart</a>
          </div>
        </div>

        <!-- If no products available then display a Not Found message with Bootstrap styles, role attribute is for accessibility like screen readers for disable ppl -->
        <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert"> <!-- ? is a Safe navigation operatior which guards against null and undefined values in property paths. So now if products is null or undefined, this also returns true  -->
          No products found.
        </div>

      </div>

      <!-- begin footer -->
      <div class="footer-pagination">
        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-9" style="padding-left: 30%">
                <ngb-pagination [(page)]="pageNumber"
                                [pageSize]="pageSize"
                                [collectionSize]="totalElements"
                                [maxSize]="5"
                                (pageChange)="listProducts()">
                </ngb-pagination>
              </div>
              <div class="col-md-3 mt-2" style="text-align: right;">
                <span class=""mr-2>Page Size</span>
                <select #pageSizeSelect (change)="updatePageSize(pageSizeSelect.value)"><!-- event binding for on change event, set a #reference variable on the HTML element to pass the value of this specific HTML element -->
                  <option>2</option>
                  <option selected="true">5</option>
                  <option>10</option>
                  <option>20</option>
                  <option>50</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end footer -->

    </div>
  </div>
</div>

<!-- END MAIN CONTENT-->
